# managed by ansible
# generated for {{ ansible_facts['fqdn'] }}

{% for item in firewall_unbound_forward_zones %}
forward-zone:
    name: "{{ item.zone | mandatory }}"
    {% if item.tls | default(false) | bool %}
    forward-tls-upstream: yes
    {% endif %}
    {% if item.forward_first | default(false) | bool %}
    forward-first: yes
    {% endif %}
    {% if item.tls | default(false) | bool %}
    {%  for resolver in item.resolvers %}
    forward-addr: {{ resolver.ip_address | ansible.utils.ipaddr('address') }}@{{ resolver.port | default(853) }}#{{ resolver.tls_name }}
    {%  endfor %}
    {% else %}
    {%  for resolver in item.resolvers %}
    forward-addr: {{ resolver.ip_address | ansible.utils.ipaddr('address') }}
    {%  endfor %}
    {% endif %}

{% endfor %}
