# managed by ansible
# generated for {{ ansible_facts['fqdn'] }}

pflog_enable="YES"              # start pflogd(8)
pflog_logfile="{{ firewall_pf_logfile }}"  # where pflogd should store the logfile
pflog_flags=""                  # additional flags for pflogd startup
