# managed by ansible
# generated for {{ ansible_fqdn }}

# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=postmaster

# The place where the mail goes. The actual machine name is required
# no MX records are consulted. Commonly mailhosts are named mail.domain.com
# The example will fit if you are in domain.com and your mailhub is so named.
mailhub={{ firewall_monitoring_email_mailhub | default("mail") }}:{{ firewall_monitoring_email_port }}

# Where will the mail seem to come from?
rewriteDomain={{ firewall_monitoring_email_rewritedomain }}

# The full hostname
hostname={{ firewall_monitoring_email_hostname }}

# Set this to never rewrite the "From:" line (unless not given) and to
# use that address in the "from line" of the envelope.
FromLineOverride={{ firewall_monitoring_email_fromlineoverride | string }}

# Use SSL/TLS to send secure messages to server.
UseTLS={{ firewall_monitoring_email_usetls | string }}

# Use SSL/TLS certificate to authenticate against smtp host.
UseTLSCert={{ firewall_monitoring_email_usetls_cert | string }}

# Use this RSA certificate.
TLSCert=/usr/local/etc/ssmtp/ssmtp.pem

# Get enhanced (*really* enhanced) debugging information in the logs
# If you want to have debugging of the config file parsing, move this option
# to the top of the config file and uncomment
#Debug=YES

# Use these parameters for securely authenticating against your
# mailhub; check ssmtp.conf(5) for further details.
UseSTARTTLS={{ firewall_monitoring_email_usestarttls | string }}
{% if firewall_monitoring_email_usestarttls | string | lower == 'yes' %}
AuthUser={{ firewall_monitoring_email_username }}
AuthPass={{ firewall_monitoring_email_password }}
{% endif %}
